{% extends 'tienda/base.html' %}

{% block content %}

<div class="text-center mt-5">
    <h2>¡Pedido realizado con éxito! 🎉</h2>
    <p>Nos contactaremos con vos a la brevedad.</p>
<a 
href="https://wa.me/5493413025642?text=
🛒%20Nuevo%20pedido%20%23{{ pedido.id }}%0A%0A
👤%20Cliente:%20{{ pedido.nombre }}%20{{ pedido.apellido }}%0A
📞%20{{ pedido.telefono }}%0A
📍%20{{ pedido.direccion }}%20{{ pedido.ciudad }}%0A
💳%20{{ pedido.get_metodo_pago_display }}%0A
💰%20Total:%20${{ pedido.total }}%0A%0A
🔗%20https://rbjoyas.onrender.com/pedido/{{ pedido.id }}/{{ pedido.token }}/
"
target="_blank"
class="btn btn-success w-100 mt-3">
    <i class="bi bi-whatsapp"></i>
    Enviar pedido por WhatsApp
</a>
    <i class="bi bi-whatsapp"></i>
    Avisar pedido por WhatsApp
</a>

    {% if pedido %}
        <a href="{% url 'ver_pedido' pedido.id pedido.token %}" class="btn btn-agregar mt-3">
    Ver mi pedido
</a>
    {% endif %}

    <a href="{% url 'inicio' %}" class="btn btn-outline-dark mt-3">
        Volver a la tienda
    </a>
</div>

{% endblock %}